{% extends 'base.html' %}
{% block title %}Kirish{% endblock %}

{% block content %}
<div class="card shadow-sm mx-auto" style="max-width: 400px; margin-top: 50px;">
    <div class="card-body">
        <h3 class="text-center mb-4">Kirish</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Parol</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success w-100">Tizimga kirish</button>
        </form>
        <div class="text-center mt-3">
            <small>Hali ro'yxatdan o'tmaganmisiz? <a href="{% url 'register' %}">Ro'yxatdan o'tish</a></small>
        </div>
    </div>
</div>
{% endblock %}